.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
}


  
  
